<!DOCTYPE html>
<html lang="ru"
			xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head th:fragment="head">
	<meta charset="UTF-8">
	<title>Task Manager</title>
	<link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
</head>
<body>

<header th:fragment="header">
	<h1>Task Manager</h1>
	
	<nav>
		<th:block sec:authorize="isAuthenticated()">
			<a href="/">Главная</a>
			<a href="/task/all">Мои задачи</a>
			<a href="/logout">Выйти</a>
		</th:block>
		
		<a sec:authorize="hasAuthority('Администратор')" href="/user/all">Пользователи</a>
		
		<th:block sec:authorize="isAnonymous()">
			<a href="/login">Войти</a>
			<a href="/registration">Регистрация</a>
		</th:block>
	
	</nav>
</header>

</body>
</html>