<!DOCTYPE html>
<html lang="ru"
			xmlns:th="http://www.thymeleaf.org"
>

<hr th:replace="~{f::head}">

<body>

<hr th:replace="~{f::header}">

<div th:if="${param.logout}" class="notice">
	Вы успено вышли из своего аккаунта
</div>

<form th:action="@{/login}" method="post">
	<p>
		<label for="email">Email</label>
		<input type="email" name="username" autofocus autocomplete="current-email" id="email">
	</p>
	<p>
		<label for="password">Пароль</label>
		<input type="password" name="password" autocomplete="current-password" id="password">
	</p>
	<p>
		<samp th:if="${param.error}">Неправильно указан email или пароль</samp>
	</p>
	<button type="submit">Войти</button>
</form>

</body>
</html>